ejercicio-ii-2a/ejercicio-ii-2a.dtd

 <!ELEMENT fichero (ficha+)>
 <!ELEMENT ficha (nombre, apellido, id, direccion*, DUI?)>
 <!ELEMENT id (#PCDATA)>
 <!ATTLIST id sexo (masculino|femenino) #REQUIRED>
 <!ATTLIST id edad  CDATA  #IMPLIED>
 <!ELEMENT nombre (#PCDATA)>
 <!ELEMENT apellido (#PCDATA)>
 <!ELEMENT direccion (#PCDATA)>
 <!ELEMENT DUI (#PCDATA) >      
